USE [master]
GO
/****** Object:  Database [22t1020198]    Script Date: 9/29/2025 9:06:26 PM ******/
CREATE DATABASE [22t1020198]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'22t1020198', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\22t1020198.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'22t1020198_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\22t1020198_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [22t1020198].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [22t1020198]
GO
/****** Object:  UserDefinedFunction [dbo].[func_TongNgayCongCuaThang]    Script Date: 9/29/2025 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_TongNgayCongCuaThang] (
    @Thang INT,
    @Nam INT
)
RETURNS INT
AS
BEGIN
    DECLARE @Tong INT;

    -- Tính tổng số ngày công
    SELECT @Tong = SUM(SoNgayCong)
    FROM BangChamCong
    WHERE Thang = @Thang AND Nam = @Nam;

    RETURN ISNULL(@Tong, 0);
END;

GO
/****** Object:  Table [dbo].[BangChamCong]    Script Date: 9/29/2025 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangChamCong](
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[SoNgayCong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC,
	[Thang] ASC,
	[Nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BangChamCongNhanVien]    Script Date: 9/29/2025 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangChamCongNhanVien](
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoNgayCong] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 9/29/2025 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[manhanvien] [nvarchar](50) NOT NULL,
	[hoten] [nvarchar](50) NOT NULL,
	[ngaysinh] [date] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[ddong] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[func_ThongKeTongNgayCong]    Script Date: 9/29/2025 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_ThongKeTongNgayCong] (
    @TuNam INT,
    @DenNam INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT Nam, SUM(SoNgayCong) AS TongNgayCong
    FROM BangChamCong
    WHERE Nam BETWEEN @TuNam AND @DenNam
    GROUP BY Nam
);

GO
/****** Object:  UserDefinedFunction [dbo].[func_ThongKeTongNgayCong1]    Script Date: 9/29/2025 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_ThongKeTongNgayCong1]
(
    @TuNam INT,   -- Năm bắt đầu
    @DenNam INT   -- Năm kết thúc
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        YEAR(NgaySinh) AS Nam,           -- Năm cần thống kê
        SUM(SoNgayCong) AS TongNgayCong -- Tổng số ngày công
    FROM BangChamCongNhanVien
    WHERE YEAR(NgaySinh) BETWEEN @TuNam AND @DenNam
    GROUP BY YEAR(NgaySinh)             -- Nhóm theo năm
    HAVING SUM(SoNgayCong) > 0          -- Loại bỏ các năm không có dữ liệu
);

GO
ALTER TABLE [dbo].[BangChamCong] ADD  DEFAULT ((0)) FOR [SoNgayCong]
GO
/****** Object:  StoredProcedure [dbo].[proc_BangChamCong_Insert]    Script Date: 9/29/2025 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_BangChamCong_Insert]
    @Thang INT,
    @Nam INT,
    @MaNhanVien NVARCHAR(50),
    @SoNgayCong INT,
    @NgayLapBang DATE OUTPUT,
    @ThongBao NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Chèn dữ liệu vào bảng BangChamCong
        INSERT INTO BangChamCong (MaNhanVien, Thang, Nam, SoNgayCong)
        VALUES (@MaNhanVien, @Thang, @Nam, @SoNgayCong);

        -- Lấy ngày lập bảng
        SET @NgayLapBang = GETDATE();
        SET @ThongBao = N'Chèn dữ liệu thành công.';
    END TRY
    BEGIN CATCH
        SET @ThongBao = ERROR_MESSAGE();
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[proc_BangChamCongNhanVien_Update]    Script Date: 9/29/2025 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_BangChamCongNhanVien_Update]
    @Thang INT,
    @Nam INT,
    @MaNhanVien NVARCHAR(50),
    @SoNgayCong INT,
    @ThongBao NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật số ngày công cho nhân viên
    BEGIN TRY
        UPDATE BangChamCongNhanVien
        SET SoNgayCong = @SoNgayCong
        WHERE MaNhanVien = @MaNhanVien;

        SET @ThongBao = N'Cập nhật thành công.';
    END TRY
    BEGIN CATCH
        SET @ThongBao = ERROR_MESSAGE();
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[proc_NhanVien_Select]    Script Date: 9/29/2025 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_NhanVien_Select]
    @HoTen NVARCHAR(50) = N'', -- Tên cần tìm
    @Page INT = 1,             -- Trang hiện tại
    @PageSize INT = 20,        -- Số dòng mỗi trang
    @RowCount INT OUTPUT,      -- Tổng số dòng dữ liệu
    @PageCount INT OUTPUT      -- Tổng số trang dữ liệu
AS
BEGIN
    -- Tính tổng số dòng thỏa mãn điều kiện tìm kiếm
    SELECT @RowCount = COUNT(*)
    FROM BangChamCongNhanVien
    WHERE @HoTen = '' OR HoTen LIKE '%' + @HoTen + '%';

    -- Tính tổng số trang (làm tròn lên)
    SET @PageCount = CEILING(CAST(@RowCount AS FLOAT) / @PageSize);

    -- Lấy dữ liệu phân trang
    SELECT MaNhanVien, HoTen, NgaySinh, GioiTinh, DiaChi, SoNgayCong
    FROM BangChamCongNhanVien
    WHERE @HoTen = '' OR HoTen LIKE '%' + @HoTen + '%'
    ORDER BY MaNhanVien
    OFFSET (@Page - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END;

GO
USE [master]
GO
