USE [THI_HQTCSDL_MaSinhVien]
GO
/****** Object:  Table [dbo].[DeTai]    Script Date: 9/29/2025 9:13:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeTai](
	[MaDT] [nchar](10) NOT NULL,
	[TenDT] [nvarchar](50) NULL,
	[KinhPhi] [int] NULL,
	[NoiThucTap] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HuongDan]    Script Date: 9/29/2025 9:13:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HuongDan](
	[MaDT] [nchar](10) NOT NULL,
	[MaGV] [int] NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[KetQua] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC,
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 9/29/2025 9:13:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[MaGiangVien] [int] NOT NULL,
	[TenGiangVien] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Luong] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiangVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[HuongDan]  WITH CHECK ADD FOREIGN KEY([MaDT])
REFERENCES [dbo].[DeTai] ([MaDT])
GO
ALTER TABLE [dbo].[HuongDan]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[Teacher] ([MaGiangVien])
GO
/****** Object:  StoredProcedure [dbo].[LayDeTaiTheoThangNam]    Script Date: 9/29/2025 9:13:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDeTaiTheoThangNam]
    @thang INT,
    @nam INT,
    @loai BIT, -- 1: Đề tài đã kết thúc, 0: Đề tài chưa kết thúc
    @sodong INT OUTPUT,
    @kinhPhiMax INT OUTPUT
AS
BEGIN
    IF @loai = 1
    BEGIN
        SELECT @sodong = COUNT(*), @kinhPhiMax = MAX(D.KinhPhi)
        FROM DeTai D
        JOIN HuongDan H ON D.MaDT = H.MaDT
        WHERE MONTH(H.NgayKetThuc) = @thang AND YEAR(H.NgayKetThuc) = @nam;
    END
    ELSE
    BEGIN
        SELECT @sodong = COUNT(*), @kinhPhiMax = MAX(D.KinhPhi)
        FROM DeTai D
        JOIN HuongDan H ON D.MaDT = H.MaDT
        WHERE MONTH(H.NgayBatDau) = @thang AND YEAR(H.NgayBatDau) = @nam;
    END
END;

GO
