USE [DIEMTUYENSINH]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_DemSV]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_DemSV] (@MaLop NVARCHAR(10))
RETURNS INT
AS
BEGIN
    DECLARE @count INT;
    SELECT @count = COUNT(*) 
    FROM sinhvien 
    WHERE malop = @MaLop;
    RETURN @count;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[Fn_DemSV44]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_DemSV44] (@MaLop NVARCHAR(10), @GioiTinh BIT)
RETURNS INT
AS
BEGIN
    DECLARE @count INT;
    SELECT @count = COUNT(*) 
    FROM sinhvien 
    WHERE malop = @MaLop AND gioitinh = @GioiTinh;
    RETURN @count;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[Fn_SV_NamSinh]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_SV_NamSinh] (@Namsinh INT)
RETURNS INT
AS
BEGIN
    DECLARE @count INT;
    SELECT @count = COUNT(*)
    FROM sinhvien
    WHERE YEAR(ngaysinh) = @Namsinh;
    RETURN @count;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[Fn_Tong]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_Tong] (@n INT) 
RETURNS REAL 
AS
BEGIN
    DECLARE @sum REAL;
    SET @sum = @n * (@n + 1) / 2;
    RETURN @sum;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_Tong_Nghich]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_Tong_Nghich] (@n INT) 
RETURNS REAL 
AS
BEGIN
    DECLARE @sum REAL;
    SET @sum = 0;
    DECLARE @i INT = 1;
    WHILE @i <= @n
    BEGIN
        SET @sum = @sum + 1.0 / @i;
        SET @i = @i + 1;
    END
    RETURN @sum;
END;

GO
/****** Object:  Table [dbo].[DIEMTS]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMTS](
	[masinhvien] [nvarchar](10) NOT NULL,
	[diemmon1] [decimal](3, 1) NOT NULL,
	[diemmon2] [decimal](3, 1) NOT NULL,
	[diemmon3] [decimal](3, 1) NOT NULL,
	[tongdiem] [decimal](3, 1) NULL,
 CONSTRAINT [PK_DIEMTS] PRIMARY KEY CLUSTERED 
(
	[masinhvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[malop] [nvarchar](15) NOT NULL,
	[tenlop] [nvarchar](50) NOT NULL,
	[TongSoSinhVien] [int] NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[masinhvien] [nvarchar](10) NOT NULL,
	[hodem] [nvarchar](45) NOT NULL,
	[ten] [nvarchar](15) NOT NULL,
	[ngaysinh] [date] NOT NULL,
	[gioitinh] [bit] NOT NULL,
	[malop] [nvarchar](15) NOT NULL,
	[noisinh] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[masinhvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[Fn_Diem_SV]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_Diem_SV] (@MaSV NVARCHAR(10))
RETURNS TABLE
AS
RETURN
(
    SELECT s.masinhvien, s.hodem, s.ten, s.ngaysinh, s.gioitinh, s.malop, d.diemmon1, d.diemmon2, d.diemmon3, 
           (d.diemmon1 + d.diemmon2 + d.diemmon3) AS tongdiem
    FROM sinhvien s
    JOIN diemts d ON s.masinhvien = d.masinhvien
    WHERE s.masinhvien = @MaSV
);
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_SV_HoLe]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_SV_HoLe] (@HoSV NVARCHAR(50))
RETURNS TABLE
AS
RETURN
(
    SELECT masinhvien, hodem, ten, ngaysinh, gioitinh, malop, noisinh
    FROM sinhvien
    WHERE hodem LIKE @HoSV + '%'
);

GO
/****** Object:  UserDefinedFunction [dbo].[Fn_SV_NhoTuoi]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_SV_NhoTuoi] (@MaLop NVARCHAR(10))
RETURNS TABLE
AS
RETURN
(
    SELECT TOP 3 masinhvien, hodem, ten, ngaysinh, gioitinh, malop, noisinh
    FROM sinhvien
    WHERE malop = @MaLop
    ORDER BY ngaysinh DESC
);

GO
/****** Object:  UserDefinedFunction [dbo].[Fn_TongSV_Lop]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_TongSV_Lop] (@MaLop VARCHAR(10))
RETURNS TABLE
AS
RETURN
(
    SELECT malop, COUNT(*) AS tong_so_sinh_vien
    FROM sinhvien
    WHERE malop = @MaLop
    GROUP BY malop
);

GO
/****** Object:  UserDefinedFunction [dbo].[Fn_TongSV_NamSinh]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_TongSV_NamSinh] (@MaLop VARCHAR(10), @NamSinh INT = 1992)
RETURNS TABLE
AS
RETURN
(
    SELECT malop, COUNT(*) AS tong_so_sinh_vien
    FROM sinhvien
    WHERE malop = @MaLop AND YEAR(ngaysinh) = @NamSinh
    GROUP BY malop
);

GO
/****** Object:  UserDefinedFunction [dbo].[Fn_TongSV_NamSinhcau413]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_TongSV_NamSinhcau413] (@namsinh INT)
RETURNS TABLE
AS
RETURN (
    SELECT 
        YEAR(ngaysinh) AS Namsinh,
        COUNT(*) AS TongSoSinhVien
    FROM sinhvien
    WHERE YEAR(ngaysinh) = @namsinh
    GROUP BY YEAR(ngaysinh)
    UNION
    SELECT 
        YEAR(ngaysinh) AS Namsinh,
        COUNT(*) AS TongSoSinhVien
    FROM sinhvien
    WHERE @namsinh NOT IN (SELECT YEAR(ngaysinh) FROM sinhvien)
    GROUP BY YEAR(ngaysinh)
);

GO
/****** Object:  UserDefinedFunction [dbo].[Fn_TongSV_TenLop]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_TongSV_TenLop] (@TenLop NVARCHAR(50))
RETURNS TABLE
AS
RETURN
(
    SELECT malop, COUNT(*) AS tong_so_sinh_vien
    FROM sinhvien
    WHERE malop LIKE '%' + @TenLop + '%'
    GROUP BY malop
);
GO
/****** Object:  StoredProcedure [dbo].[BoSungSinhViencau312]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BoSungSinhViencau312]
    @MaSinhVien NVARCHAR(10),
    @HoDem NVARCHAR(50),
    @Ten NVARCHAR(50),
    @NgaySinh DATE,
    @GioiTinh BIT,
    @MaLop NVARCHAR(10),
    @NoiSinh NVARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT * FROM SINHVIEN WHERE masinhvien = @MaSinhVien)
    BEGIN
        PRINT 'Mã sinh viên đã tồn tại.';
        RETURN;
    END

    IF NOT EXISTS (SELECT * FROM LOP WHERE malop = @MaLop)
    BEGIN
        PRINT 'Mã lớp không tồn tại.';
        RETURN;
    END

    INSERT INTO SINHVIEN(masinhvien, hodem, ten, ngaysinh, gioitinh, malop, noisinh)
    VALUES (@MaSinhVien, @HoDem, @Ten, @NgaySinh, @GioiTinh, @MaLop, @NoiSinh);
END;

GO
/****** Object:  StoredProcedure [dbo].[LayDanhSachSinhVienTheoGioiTinhVaNoiSinhcau5]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDanhSachSinhVienTheoGioiTinhVaNoiSinhcau5]
    @GioiTinh INT = 0,
    @NoiSinh NVARCHAR(50) = 'TT Huế'
AS
BEGIN
    SELECT 
        masinhvien AS 'Mã sinh viên',
        CONCAT(hodem, ' ', ten) AS 'Họ tên',
        CASE 
            WHEN gioitinh = 1 THEN 'Nam'
            ELSE 'Nữ'
        END AS 'Giới tính',
        noisinh AS 'Nơi sinh'
    FROM sinhvien
    WHERE gioitinh = @GioiTinh AND noisinh = @NoiSinh;
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDanhSachSinhVienTheoNoiSinhcau7]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDanhSachSinhVienTheoNoiSinhcau7]
    @NoiSinh NVARCHAR(50)
AS
BEGIN
    SELECT 
        masinhvien AS 'Mã sinh viên',
        CONCAT(hodem, ' ', ten) AS 'Họ tên',
        ngaysinh AS 'Ngày sinh',
        noisinh AS 'Nơi sinh'
    FROM sinhvien
    WHERE noisinh = @NoiSinh;
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDanhSachSinhVienTheoNoiSinhChuaChuoicau38]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDanhSachSinhVienTheoNoiSinhChuaChuoicau38]
    @NoiSinh NVARCHAR(50)
AS
BEGIN
    SELECT 
        masinhvien AS 'Mã sinh viên',
        CONCAT(hodem, ' ', ten) AS 'Họ tên',
        ngaysinh AS 'Ngày sinh',
        noisinh AS 'Nơi sinh'
    FROM SINHVIEN
    WHERE noisinh LIKE '%' + @NoiSinh + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDanhSachSinhVienTheoNoiSinhChuaChuoicau381]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDanhSachSinhVienTheoNoiSinhChuaChuoicau381]
    @NoiSinh NVARCHAR(50)
AS
BEGIN
    SELECT 
        masinhvien AS 'Mã sinh viên',
        CONCAT(hodem, ' ', ten) AS 'Họ tên',
        ngaysinh AS 'Ngày sinh',
        noisinh AS 'Nơi sinh'
    FROM SINHVIEN
    WHERE noisinh LIKE '%' + @NoiSinh + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDanhSachSinhVienTheoTenLopcau4]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDanhSachSinhVienTheoTenLopcau4]
    @TenLop NVARCHAR(50)
AS
BEGIN
    SELECT 
        s.masinhvien AS 'Mã sinh viên',
        CONCAT(s.hodem, ' ', s.ten) AS 'Họ tên',
        s.ngaysinh AS 'Ngày sinh',
        s.malop AS 'Mã lớp',
        c.tenlop AS 'Tên lớp'
    FROM sinhvien s
    JOIN lop c ON s.malop = c.malop
    WHERE c.tenlop = @TenLop;
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDanhSachSinhVienTheoThangSinh6]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDanhSachSinhVienTheoThangSinh6]
    @ThangBatDau INT,
    @ThangKetThuc INT
AS
BEGIN
    IF @ThangBatDau > @ThangKetThuc
    BEGIN
        PRINT 'Du lieu khong hop le: x > y';
        RETURN;
    END

    SELECT 
        masinhvien AS 'Ma sinh vien',
        CONCAT(hodem, ' ', ten) AS 'Ho ten',
        ngaysinh AS 'Ngay sinh'
    FROM sinhvien
    WHERE MONTH(ngaysinh) BETWEEN @ThangBatDau AND @ThangKetThuc;
END;

GO
/****** Object:  StoredProcedure [dbo].[LayDanhSachSinhVienTheoThangSinh67]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDanhSachSinhVienTheoThangSinh67]
    @ThangBatDau INT,
    @ThangKetThuc INT
AS
BEGIN
    IF @ThangBatDau > @ThangKetThuc
    BEGIN
        PRINT 'Du lieu khong hop le: x > y';
        RETURN;
    END

    SELECT 
        masinhvien AS 'Ma sinh vien',
        CONCAT(hodem, ' ', ten) AS 'Ho ten',
        ngaysinh AS 'Ngay sinh'
    FROM sinhvien
    WHERE MONTH(ngaysinh) BETWEEN @ThangBatDau AND @ThangKetThuc;
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDiemCacMonCuaSinhViencau39]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDiemCacMonCuaSinhViencau39]
    @MaSinhVien NVARCHAR(10)
AS
BEGIN
    SELECT 
        s.masinhvien , CONCAT(s.hodem, ' ', s.ten) AS 'Họ tên',s.ngaysinh, d.diemmon1, d.diemmon2 ,d.diemmon3 ,
		(d.diemmon1 + d.diemmon2 + d.diemmon3) AS 'Tổng điểm'
    FROM SINHVIEN s
    JOIN diemts d ON s.masinhvien = d.masinhvien
    WHERE s.masinhvien = @MaSinhVien;
END;
GO
/****** Object:  StoredProcedure [dbo].[LaySinhVienTheoLopcau3]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LaySinhVienTheoLopcau3]
    @MaLop NVARCHAR(10)  -- Tham số đầu vào là mã lớp học
AS
BEGIN
    -- Truy vấn thông tin sinh viên của lớp dựa vào mã lớp
    SELECT 
        masinhvien AS N'Mã sinh viên',
        CONCAT(hodem, ' ', ten) AS N'Họ tên',
        ngaysinh AS N'Ngày sinh',
        CASE 
            WHEN gioitinh = 1 THEN N'Nam'
            ELSE N'Nữ'
        END AS N'Giới tính',
        malop AS N'Mã lớp'
    FROM SINHVIEN
    WHERE malop = @MaLop;
END;



GO
/****** Object:  StoredProcedure [dbo].[LayTongSoSinhVienTheoTenLopcau310]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayTongSoSinhVienTheoTenLopcau310]
    @TenLop NVARCHAR(50)
AS
BEGIN
    DECLARE @Count INT;

    SELECT @Count = COUNT(*)
    FROM SINHVIEN s
    JOIN LOP c ON s.malop = c.malop
    WHERE c.tenlop = @TenLop;

    IF @Count IS NULL OR @Count = 0
    BEGIN
        PRINT 'Tên lớp không tồn tại.';
        RETURN;
    END

    SELECT 
        c.malop AS 'Mã lớp',
        c.tenlop AS 'Tên lớp',
        COUNT(s.masinhvien) AS 'Tổng số sinh viên'
    FROM SINHVIEN s
    JOIN LOP c ON s.malop = c.malop
    WHERE c.tenlop = @TenLop
    GROUP BY c.malop, c.tenlop;
END;
GO
/****** Object:  StoredProcedure [dbo].[laytongsosinhvientheotenlopcau311]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[laytongsosinhvientheotenlopcau311]
    @TenLop NVARCHAR(50)
AS
BEGIN
    IF NOT EXISTS (SELECT * FROM LOP WHERE tenlop = @TenLop)
    BEGIN
        SELECT 
            l.malop AS 'Mã lớp',
            l.tenlop AS 'Tên lớp',
            COUNT(s.masinhvien) AS 'Tổng số sinh viên'
        FROM LOP l
        LEFT JOIN SINHVIEN s ON l.malop = s.malop
        GROUP BY l.malop, l.tenlop;
    END
    ELSE
    BEGIN
        SELECT 
            l.malop AS 'Mã lớp',
            l.tenlop AS 'Tên lớp',
            COUNT(s.masinhvien) AS 'Tổng số sinh viên'
        FROM LOP l
        LEFT JOIN SINHVIEN s ON l.malop = s.malop
        WHERE l.tenlop = @TenLop
        GROUP BY l.malop, l.tenlop;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[PrintNgayThangNamHienTai]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PrintNgayThangNamHienTai]
AS
BEGIN
    DECLARE @NgayHienTai DATETIME = GETDATE();
    DECLARE @Ngay INT = DAY(@NgayHienTai);
    DECLARE @Thang INT = MONTH(@NgayHienTai);
    DECLARE @Nam INT = YEAR(@NgayHienTai);

    PRINT N'Ngày: ' + CAST(@Ngay AS VARCHAR(2));
    PRINT N'Tháng: ' + CAST(@Thang AS VARCHAR(2));
    PRINT N'Năm: ' + CAST(@Nam AS VARCHAR(4));
END;

GO
/****** Object:  StoredProcedure [dbo].[proc_TK_SV_NgaySinh_Lop]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_TK_SV_NgaySinh_Lop]
    @malop NVARCHAR(10),
    @TuNgay DATE,
    @DenNgay DATE
AS
BEGIN
  
    DECLARE @BangTam TABLE (
        NgaySinh DATE,
        TongSoSinhVien INT
    )
    DECLARE @NgayHienTai DATE = @TuNgay
    WHILE @NgayHienTai <= @DenNgay
    BEGIN
        INSERT INTO @BangTam (NgaySinh, TongSoSinhVien)
        SELECT @NgayHienTai, COUNT(*)
        FROM sinhvien
        WHERE malop = @malop AND ngaysinh = @NgayHienTai
        IF @@ROWCOUNT = 0
        BEGIN
            INSERT INTO @BangTam (NgaySinh, TongSoSinhVien)
            VALUES (@NgayHienTai, 0)
        END
        SET @NgayHienTai = DATEADD(DAY, 1, @NgayHienTai)
    END
    SELECT * FROM @BangTam
END

GO
/****** Object:  StoredProcedure [dbo].[proc_TK_SV_ThangSinh]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_TK_SV_ThangSinh]
    @TuThang INT,
    @DenThang INT
AS
BEGIN
    WITH Thang AS (
        SELECT @TuThang AS ThangSinh
        UNION ALL
        SELECT ThangSinh + 1
        FROM Thang
        WHERE ThangSinh + 1 <= @DenThang
    )
    
    SELECT 
        t.ThangSinh,
        ISNULL(COUNT(s.masinhvien), 0) AS TongSoSinhVien
    FROM Thang t
    LEFT JOIN sinhvien s ON MONTH(s.ngaysinh) = t.ThangSinh
    GROUP BY t.ThangSinh
    ORDER BY t.ThangSinh;
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_TK_SV_ThangSinhLop]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_TK_SV_ThangSinhLop]
    @malop NVARCHAR(10),
    @TuThang INT,
    @DenThang INT
AS
BEGIN
    -- Tạo bảng tạm để chứa các tháng từ TuThang đến DenThang
    WITH Thang AS (
        SELECT @TuThang AS ThangSinh
        UNION ALL
        SELECT ThangSinh + 1
        FROM Thang
        WHERE ThangSinh + 1 <= @DenThang
    )
    
    -- Thực hiện thống kê số lượng sinh viên theo tháng sinh của lớp
    SELECT 
        t.ThangSinh,
        ISNULL(COUNT(s.masinhvien), 0) AS TongSoSinhVien
    FROM Thang t
    LEFT JOIN sinhvien s ON MONTH(s.ngaysinh) = t.ThangSinh AND s.malop = @malop
    GROUP BY t.ThangSinh
    ORDER BY t.ThangSinh;
END;
GO
/****** Object:  StoredProcedure [dbo].[SoSanhDiemMon1]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SoSanhDiemMon1]
    @MaSinhVien1 NVARCHAR(10),
    @MaSinhVien2 NVARCHAR(10)
AS
BEGIN
    DECLARE @Diem1 FLOAT;
    DECLARE @Diem2 FLOAT;

    SELECT @Diem1 = d.diemmon1
    FROM diemts d
    JOIN sinhvien s ON d.masinhvien = s.masinhvien
    WHERE s.masinhvien = @MaSinhVien1;

    SELECT @Diem2 = d.diemmon1
    FROM diemts d
    JOIN sinhvien s ON d.masinhvien = s.masinhvien
    WHERE s.masinhvien = @MaSinhVien2;

    IF @Diem1 > @Diem2
    BEGIN
        SELECT 
            s.masinhvien AS 'Mã sinh viên',
            CONCAT(s.hodem, ' ', s.ten) AS 'Họ tên',
            s.ngaysinh AS 'Ngày sinh',
            @Diem1 AS 'Điểm môn 1'
        FROM sinhvien s
        WHERE s.masinhvien = @MaSinhVien1;
    END
    ELSE
    BEGIN
        SELECT 
            s.masinhvien AS 'Mã sinh viên',
            CONCAT(s.hodem, ' ', s.ten) AS 'Họ tên',
            s.ngaysinh AS 'Ngày sinh',
            @Diem2 AS 'Điểm môn 1'
        FROM sinhvien s
        WHERE s.masinhvien = @MaSinhVien2;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[ThongTinSinhVienCoTongDiemCaoHon]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ThongTinSinhVienCoTongDiemCaoHon]
    @MaSinhVien1 NVARCHAR(10),
    @MaSinhVien2 NVARCHAR(10)
AS
BEGIN
    DECLARE @TongDiem1 FLOAT;
    DECLARE @TongDiem2 FLOAT;

    SELECT @TongDiem1 = (d.diemmon1 + d.diemmon2 + d.diemmon3)
    FROM diemts d
    JOIN sinhvien s ON d.masinhvien = s.masinhvien
    WHERE s.masinhvien = @MaSinhVien1;

    SELECT @TongDiem2 = (d.diemmon1 + d.diemmon2 + d.diemmon3)
    FROM diemts d
    JOIN sinhvien s ON d.masinhvien = s.masinhvien
    WHERE s.masinhvien = @MaSinhVien2;

    IF @TongDiem1 > @TongDiem2
    BEGIN
        SELECT 
            s.masinhvien AS 'Mã sinh viên',
            CONCAT(s.hodem, ' ', s.ten) AS 'Họ tên',
            s.ngaysinh AS 'Ngày sinh',
            d.diemmon1 AS 'Điểm môn 1',
            d.diemmon2 AS 'Điểm môn 2',
            d.diemmon3 AS 'Điểm môn 3',
            @TongDiem1 AS 'Tổng điểm'
        FROM sinhvien s
        JOIN diemts d ON s.masinhvien = d.masinhvien
        WHERE s.masinhvien = @MaSinhVien1;
    END
    ELSE
    BEGIN
        SELECT 
            s.masinhvien AS 'Mã sinh viên',
            CONCAT(s.hodem, ' ', s.ten) AS 'Họ tên',
            s.ngaysinh AS 'Ngày sinh',
            d.diemmon1 AS 'Điểm môn 1',
            d.diemmon2 AS 'Điểm môn 2',
            d.diemmon3 AS 'Điểm môn 3',
            @TongDiem2 AS 'Tổng điểm'
        FROM sinhvien s
        JOIN diemts d ON s.masinhvien = d.masinhvien
        WHERE s.masinhvien = @MaSinhVien2;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[ThongTinSinhVienCoTongDiemCaoHonHoacBang]    Script Date: 9/29/2025 9:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongTinSinhVienCoTongDiemCaoHonHoacBang]
    @MaSinhVien1 NVARCHAR(10),
    @MaSinhVien2 NVARCHAR(10)
AS
BEGIN
    DECLARE @TongDiem1 FLOAT;
    DECLARE @TongDiem2 FLOAT;

    SELECT @TongDiem1 = (d.diemmon1 + d.diemmon2 + d.diemmon3)
    FROM diemts d
    JOIN sinhvien s ON d.masinhvien = s.masinhvien
    WHERE s.masinhvien = @MaSinhVien1;

    SELECT @TongDiem2 = (d.diemmon1 + d.diemmon2 + d.diemmon3)
    FROM diemts d
    JOIN sinhvien s ON d.masinhvien = s.masinhvien
    WHERE s.masinhvien = @MaSinhVien2;

    IF @TongDiem1 > @TongDiem2
    BEGIN
        SELECT 
            s.masinhvien AS 'Mã sinh viên',
            CONCAT(s.hodem, ' ', s.ten) AS 'Họ tên',
            s.ngaysinh AS 'Ngày sinh',
            d.diemmon1 AS 'Điểm môn 1',
            d.diemmon2 AS 'Điểm môn 2',
            d.diemmon3 AS 'Điểm môn 3',
            @TongDiem1 AS 'Tổng điểm'
        FROM sinhvien s
        JOIN diemts d ON s.masinhvien = d.masinhvien
        WHERE s.masinhvien = @MaSinhVien1;
    END
    ELSE IF @TongDiem1 < @TongDiem2
    BEGIN
        SELECT 
            s.masinhvien AS 'Mã sinh viên',
            CONCAT(s.hodem, ' ', s.ten) AS 'Họ tên',
            s.ngaysinh AS 'Ngày sinh',
            d.diemmon1 AS 'Điểm môn 1',
            d.diemmon2 AS 'Điểm môn 2',
            d.diemmon3 AS 'Điểm môn 3',
            @TongDiem2 AS 'Tổng điểm'
        FROM sinhvien s
        JOIN diemts d ON s.masinhvien = d.masinhvien
        WHERE s.masinhvien = @MaSinhVien2;
    END
    ELSE
    BEGIN
        SELECT 
            s.masinhvien AS 'Mã sinh viên',
            CONCAT(s.hodem, ' ', s.ten) AS 'Họ tên',
            s.ngaysinh AS 'Ngày sinh',
            d.diemmon1 AS 'Điểm môn 1',
            d.diemmon2 AS 'Điểm môn 2',
            d.diemmon3 AS 'Điểm môn 3',
            @TongDiem1 AS 'Tổng điểm'
        FROM sinhvien s
        JOIN diemts d ON s.masinhvien = d.masinhvien
        WHERE s.masinhvien IN (@MaSinhVien1, @MaSinhVien2);
    END
END;

GO
