USE [master]
GO
/****** Object:  Database [dangkhanhlinh]    Script Date: 9/29/2025 9:08:21 PM ******/
CREATE DATABASE [dangkhanhlinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dangkhanhlinh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\dangkhanhlinh.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dangkhanhlinh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\dangkhanhlinh_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dangkhanhlinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dangkhanhlinh]
GO
/****** Object:  Table [dbo].[DONGXE]    Script Date: 9/29/2025 9:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONGXE](
	[Madongxe] [nvarchar](10) NOT NULL,
	[Tendongxe] [nvarchar](25) NOT NULL,
	[Hangxe] [nvarchar](50) NOT NULL,
	[Sochongoi] [int] NULL,
 CONSTRAINT [PK_DONGXE] PRIMARY KEY CLUSTERED 
(
	[Madongxe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 9/29/2025 9:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[Manhacungcap] [nvarchar](5) NOT NULL,
	[Tennhacungcap] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](250) NULL,
	[tongsophieunhap] [int] NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[Manhacungcap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 9/29/2025 9:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[Maphieunhap] [nvarchar](10) NOT NULL,
	[Manhacungcap] [nvarchar](6) NOT NULL,
	[madongxe] [nvarchar](10) NOT NULL,
	[Ngaylap] [date] NOT NULL,
	[soluong] [int] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[Maphieunhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[func_TKePhieuNhap_DayDuCacNam]    Script Date: 9/29/2025 9:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_TKePhieuNhap_DayDuCacNam]
    (@TuNam int, @DenNam int)
RETURNS TABLE
AS
RETURN
(
    WITH KhoangNam AS (
        SELECT @TuNam AS NamNhap
        UNION ALL
        SELECT NamNhap + 1 
        FROM KhoangNam 
        WHERE NamNhap < @DenNam
    )
    SELECT 
        KN.NamNhap, 
        ISNULL(SUM(PN.soluong), 0) AS SoLuongXe
    FROM 
        KhoangNam KN
    LEFT JOIN 
        PHIEUNHAP PN ON YEAR(PN.Ngaylap) = KN.NamNhap
    GROUP BY 
        KN.NamNhap
);

GO
/****** Object:  UserDefinedFunction [dbo].[func_TkePhieuNhap_DongXe]    Script Date: 9/29/2025 9:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_TkePhieuNhap_DongXe]
    (@TenDongXe nvarchar(25), @TongSoLuongXe int)
RETURNS TABLE
AS
RETURN
(
    SELECT DX.Tendongxe, SUM(PN.soluong) AS TongSoLuongXe
    FROM DONGXE DX
    INNER JOIN PHIEUNHAP PN ON DX.Madongxe = PN.madongxe
    WHERE DX.Tendongxe LIKE @TenDongXe + '%'
    GROUP BY DX.Tendongxe
    HAVING SUM(PN.soluong) >= @TongSoLuongXe
);

GO
/****** Object:  StoredProcedure [dbo].[proc_DongXe_TimKiem]    Script Date: 9/29/2025 9:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_DongXe_TimKiem]
    @TenDongXe nvarchar(25) = N'',
    @SoChoNgoi int,
    @SoLuong int OUTPUT
AS
BEGIN
    DECLARE @FilteredTable TABLE (Madongxe nvarchar(10), Tendongxe nvarchar(25), Hangxe nvarchar(50), Sochongoi int);

    IF @TenDongXe <> N''
    BEGIN
        INSERT INTO @FilteredTable
        SELECT Madongxe, Tendongxe, Hangxe, Sochongoi
        FROM DONGXE
        WHERE Tendongxe LIKE '%' + @TenDongXe + '%' AND Sochongoi >= @SoChoNgoi;
    END
    ELSE
    BEGIN
        INSERT INTO @FilteredTable
        SELECT Madongxe, Tendongxe, Hangxe, Sochongoi
        FROM DONGXE
        WHERE Sochongoi >= @SoChoNgoi;
    END

    SET @SoLuong = (SELECT COUNT(*) FROM @FilteredTable);

    SELECT Madongxe, Tendongxe, Hangxe, Sochongoi FROM @FilteredTable;
END

GO
/****** Object:  StoredProcedure [dbo].[proc_NhaCungCap_DiaChi]    Script Date: 9/29/2025 9:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_NhaCungCap_DiaChi]
    @TenNhaCC nvarchar(50),
    @DiaChi nvarchar(250)
AS
BEGIN
    SELECT Manhacungcap, Tennhacungcap, diachi
    FROM NHACUNGCAP
    WHERE Tennhacungcap LIKE '%' + @TenNhaCC + '%' AND diachi = @DiaChi;
END

GO
/****** Object:  StoredProcedure [dbo].[proc_PhieuNhap_Insert]    Script Date: 9/29/2025 9:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_PhieuNhap_Insert]
    @MaPhieuNhap nvarchar(10),
    @MaNhaCungCap nvarchar(6),
    @MaDongXe nvarchar(10),
    @NgayLap date,
    @SoLuong int,
    @KetQuaBoSung nvarchar(255) OUTPUT
AS
BEGIN
    BEGIN TRY
        INSERT INTO PHIEUNHAP (Maphieunhap, Manhacungcap, madongxe, Ngaylap, soluong)
        VALUES (@MaPhieuNhap, @MaNhaCungCap, @MaDongXe, @NgayLap, @SoLuong);
        
        SET @KetQuaBoSung = N'';
    END TRY
    BEGIN CATCH
        IF ERROR_NUMBER() = 2627  -- Lỗi trùng khóa chính
            SET @KetQuaBoSung = N'Lỗi: Trùng khóa chính';
        ELSE IF ERROR_NUMBER() = 547  -- Lỗi tham chiếu
            SET @KetQuaBoSung = N'Lỗi: Lỗi tham chiếu';
        ELSE
            SET @KetQuaBoSung = ERROR_MESSAGE();
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[proc_ThongKePhieuNhap]    Script Date: 9/29/2025 9:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_ThongKePhieuNhap]
    @MaNhaCC nvarchar(6),
    @TuNgay date,
    @DenNgay date
AS
BEGIN
    DECLARE @DateRange TABLE (NgayNhap date);
    DECLARE @CurrentDate date = @TuNgay;

    WHILE @CurrentDate <= @DenNgay
    BEGIN
        INSERT INTO @DateRange (NgayNhap) VALUES (@CurrentDate);
        SET @CurrentDate = DATEADD(DAY, 1, @CurrentDate);
    END

    SELECT DR.NgayNhap, ISNULL(COUNT(PN.Maphieunhap), 0) AS SoLuongPhieuNhap
    FROM @DateRange DR
    LEFT JOIN PHIEUNHAP PN ON DR.NgayNhap = PN.Ngaylap AND PN.Manhacungcap LIKE '%' + @MaNhaCC
    GROUP BY DR.NgayNhap
    ORDER BY DR.NgayNhap;
END

GO
USE [master]
GO
