USE [ontap]
GO
/****** Object:  User [normal_user]    Script Date: 9/29/2025 9:10:08 PM ******/
CREATE USER [normal_user] FOR LOGIN [normal_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [normal_user]
GO
/****** Object:  UserDefinedFunction [dbo].[func_CountPassed]    Script Date: 9/29/2025 9:10:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_CountPassed](@ExamineeId INT)
RETURNS INT
AS
BEGIN
    RETURN (
        SELECT COUNT(*)
        FROM Registration
        WHERE ExamineeId = @ExamineeId AND ExamResult >= 5
    );
END;
GO
/****** Object:  Table [dbo].[Certificate]    Script Date: 9/29/2025 9:10:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificate](
	[CertificateId] [int] IDENTITY(1,1) NOT NULL,
	[CertificateName] [nvarchar](255) NULL,
	[NumberOfRegister] [int] NULL DEFAULT ((0)),
	[NumberOfPass] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[CertificateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Examinee]    Script Date: 9/29/2025 9:10:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examinee](
	[ExamineeId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[BirthDate] [date] NULL,
	[Email] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamineeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Registration]    Script Date: 9/29/2025 9:10:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[ExamineeId] [int] NULL,
	[CertificateId] [int] NULL,
	[RegistrationDate] [datetime] NULL DEFAULT (getdate()),
	[ExamResult] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[func_TotalByDate]    Script Date: 9/29/2025 9:10:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_TotalByDate](@From DATE, @To DATE)
RETURNS TABLE
AS
RETURN (
    WITH DateRange AS (
        SELECT @From AS Date
        UNION ALL
        SELECT DATEADD(DAY, 1, Date)
        FROM DateRange
        WHERE Date < @To
    )
    SELECT d.Date,
           ISNULL(COUNT(r.RegistrationId), 0) AS NumberOfRegistrations
    FROM DateRange d
    LEFT JOIN Registration r ON CAST(r.RegistrationDate AS DATE) = d.Date
    GROUP BY d.Date
);

GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD FOREIGN KEY([CertificateId])
REFERENCES [dbo].[Certificate] ([CertificateId])
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD FOREIGN KEY([ExamineeId])
REFERENCES [dbo].[Examinee] ([ExamineeId])
GO
/****** Object:  StoredProcedure [dbo].[proc_Examinee_Select]    Script Date: 9/29/2025 9:10:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_Examinee_Select]
    @SearchValue NVARCHAR(255) = N'',
    @Page INT = 1,
    @PageSize INT = 20,
    @RowCount INT OUTPUT,
    @PageCount INT OUTPUT
AS
BEGIN
    DECLARE @Offset INT = (@Page - 1) * @PageSize;

    SELECT @RowCount = COUNT(*)
    FROM Examinee
    WHERE FullName LIKE '%' + @SearchValue + '%';

    SET @PageCount = CEILING(@RowCount * 1.0 / @PageSize);

    SELECT *
    FROM Examinee
    WHERE FullName LIKE '%' + @SearchValue + '%'
    ORDER BY ExamineeId
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
END;

GO
/****** Object:  StoredProcedure [dbo].[proc_Registration_Add]    Script Date: 9/29/2025 9:10:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_Registration_Add]
    @ExamineeId INT,
    @CertificateId INT,
    @Result NVARCHAR(255) OUTPUT
AS
BEGIN
    BEGIN TRY
        INSERT INTO Registration (ExamineeId, CertificateId)
        VALUES (@ExamineeId, @CertificateId);
        SET @Result = N'';
    END TRY
    BEGIN CATCH
        SET @Result = ERROR_MESSAGE();
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[proc_SaveExamResult]    Script Date: 9/29/2025 9:10:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_SaveExamResult]
    @ExamineeId INT,
    @CertificateId INT,
    @ExamResult INT,
    @Result NVARCHAR(255) OUTPUT
AS
BEGIN
    IF @ExamResult < 0 OR @ExamResult > 10
    BEGIN
        SET @Result = N'Điểm không hợp lệ';
        RETURN;
    END;

    BEGIN TRY
        UPDATE Registration
        SET ExamResult = @ExamResult
        WHERE ExamineeId = @ExamineeId AND CertificateId = @CertificateId;
        SET @Result = N'';
    END TRY
    BEGIN CATCH
        SET @Result = ERROR_MESSAGE();
    END CATCH;
END;

GO
