USE [QLNHANSU]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 9/29/2025 9:11:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [nvarchar](10) NOT NULL,
	[HoDem] [nvarchar](45) NOT NULL,
	[Ten] [nvarchar](15) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](250) NULL,
	[MaPhong] [nvarchar](3) NULL,
	[MaPhanXuong] [nvarchar](3) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANXUONG]    Script Date: 9/29/2025 9:11:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANXUONG](
	[MaPhanXuong] [nvarchar](3) NOT NULL,
	[TenPhanXuong] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHANXUONG] PRIMARY KEY CLUSTERED 
(
	[MaPhanXuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 9/29/2025 9:11:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MaPhong] [nvarchar](3) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
	[TongSoNhanVien] [int] NULL DEFAULT ((0)),
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUNHAP_NV]    Script Date: 9/29/2025 9:11:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUNHAP_NV](
	[MaNhanVien] [nvarchar](10) NOT NULL,
	[HeSo] [decimal](3, 2) NULL,
	[PhuCap] [decimal](15, 0) NULL,
 CONSTRAINT [PK_THUNHAP_NV] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[Sp_HienThiNhanVienTheoPhong]    Script Date: 9/29/2025 9:11:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_HienThiNhanVienTheoPhong]
    @MaPhong INT
AS
BEGIN
    SELECT MaNhanVien, HoDem, Ten, NgaySinh, MaPhong
    FROM NHANVIEN
    WHERE MaPhong = @MaPhong;
END

GO
